:root {
  --black: #000000;
  --dark-gold: #B88746;
  --white: #FFFFFF;
  --dark-green: #4F6C54;
  --light-grey: #E7E7E4;
  --light-gold: #C79859;
  --light-pink: #FEF9F3;
  --light-green: #819F87;
  --grey: #E7E7E4;
  --dark-green1: #345039;
 }
 
 * {
   margin: 0px;
 }
 
 body {
   text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
   text-rendering: optimizeLegibility !important;
 }
 

 /*CONTAINERS*/
 
 .first-container {
   background-color: #000000;
   padding-left: clamp(1.5rem, 7vw, 7rem);
   padding-right: clamp(1.5rem, 7vw, 7rem);
   padding-bottom: clamp(1.5rem, 7vw, 7rem);
   padding-top: clamp(3.5rem, 7vw, 7rem);
 }
 
 .second-container {
   font-family: 'Open Sans';
   color: white;
   background-color: var(--dark-green);
   padding-left: clamp(1.5rem, 7vw, 7rem);
   padding-right: clamp(1.5rem, 7vw, 7rem);
   padding-top: clamp(1.5rem, 7vw, 3rem);
   padding-bottom: clamp(1.5rem, 7vw, 3rem);
   line-height: 2rem;
   margin-top: clamp(-2.5rem, 30vw, -4rem);
   position: relative;
   z-index: 0;
 }
 
 .third-container {
   background-color: var(--light-grey);
   position: relative;
   padding-left: clamp(1.5rem, 7vw, 7rem);
   padding-right: clamp(1.5rem, 7vw, 7rem);
   padding-top: clamp(1.5rem, 7vw, 3rem);
   padding-bottom: clamp(1.5rem, 7vw, 3rem);
   height: auto;
   
 }
 
 .fourth-container {
   font-family: 'Open Sans';
   padding: clamp(2rem, 7vw, 7rem);
   text-align:  center;
   background-color: var(--light-pink);
   display: flex;
   flex-direction: column;
   align-items: space-between;
   justify-content: center;
   margin-top: clamp(-4.15rem, 70vw, -7rem);
   position: relative;
 }
 
 .fifth-container {
   background-color: var(--light-green);
   color: white;
   padding-left: clamp(1.5rem, 7vw, 7rem);
   padding-right: clamp(1.5rem, 7vw, 7rem);
   padding-top: clamp(1.5rem, 7vw, 3rem);
   padding-bottom: clamp(1.5rem, 7vw, 3rem);
 }

 .sources {
  background-color: var(--light-grey);
  padding: 1rem 1rem; 
  margin-top: clamp(-2.5rem, 30vw, -4rem);
  position: relative;

 }
 footer {
   font-family: 'Bebas Neue';
   color: var(--dark-gold);
   text-align: center;
   background-color: var(--black);
   padding: 1rem 1rem;
 }


 /*IMAGES*/
 
 #image {
  width: clamp(295px, 50vw, 80%);
  margin-left: auto;
  margin-right: auto;
  display: block;
  
 }
 
 .third-container img {
  width: clamp(330px, 70vw, 80%);
  padding-top: 3rem; 
  justify-content: flex-start;
  margin-left: clamp(-3rem, 50vw, -7rem);
 }
 
 .fifth-container img {
   width: clamp(300px, 70vw, 80%);
   padding-top: 2rem;
   display: flex;
   justify-content: center;
 }
 

 
 
/*TEXT STYLES*/
 
#title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: lighter;
  font-size: clamp(9.75rem, 30vw, 12rem);
  line-height: 0.85;
  color: var(--dark-gold);
  
 }

#img-caption { 
  font-family: 'Open Sans';
  color: var(--white);  
  font-size: clamp(1rem, 20vw, 1.15rem);

 }
 
.third-container h2 {
  font-family: 'Bebas Neue', sans-serif;
  color: var(--dark-gold);
  text-align: center;
 }
 
.facts-content {
  font-family: 'Open Sans';
  display: flex;
  flex-direction: column;
  align-items: space-between;
  line-height: 2rem;
 }
 
.third-container h3 {
   color: var(--dark-gold);
   font-family: 'Open Sans';
   
 }

.fourth-container h2 {
   font-family: 'Bebas Neue';
   color: var(--dark-green);
   font-family: 'Bebas Neue';
   font-weight: 200;
   margin-bottom: 1rem;
   
 }

.fourth-container h4 {
   font-family: 'Bebas Neue';
   color: var(--light-gold);
   font-size: clamp(3rem, 20vw, 4rem);
   font-weight: 100;
   line-height: 2.25rem;
 }

.fourth-container h5 {
  font-family: 'Bebas Neue';
  font-size: clamp(1.5rem, 10vw, 2rem);
  font-weight: 100;
  color: var(--light-gold);
  line-height: 3rem;
 }

.fourth-container p{
   color: var(--dark-green);
   padding-left: clamp( 1rem, 10vw, 3rem); 
   padding-right: clamp( 1rem, 10vw, 3rem);
   
 }
 
blockquote p {
   font-family: 'Open Sans';
   position: relative;
   font-style: italic;
   font-weight: ligther !important;
   line-height: 1.75rem;
 }

cite {
   font-family: 'Open Sans';
 }

.support {
   font-family: 'Bebas Neue';
   text-align: center;
   text-shadow: 0px 2px gray;
   font-size: 1.25rem;
 }

.sources p {
   font-family: 'Bebas Neue';
   color: var(--dark-gold);
 }

:is(.sources li) a {
  color: var(--dark-green);
  text-decoration: none;
  font-family: 'Open Sans';
   font-weight: lighter !important;
 
 }

:is(.support, .sources li ) a:hover {
 text-decoration: underline;
}




 /*media queries*/
 
@media (min-width: 350px) and (max-width: 549px) {

  #image {
  width: clamp(320px, 100vw, 60%);
  }
  
  .third-container img {
  width: clamp(370px, 70vw, 80%);
  }
 
  .fifth-container img {
    width: clamp(340px, 80vw, 100%);
    margin-left: -0.5rem;
  }

}
 
@media (min-width: 550px) and (max-width: 990px) {

  .fourth-container p{
   padding-left: clamp(4rem, 25vw, 15rem);
   padding-right: clamp(4rem, 25vw, 15rem);
  }

  .second-container {
   margin-top: clamp(-4.35rem, 100vw, -7rem);
  }

  #image {
   width: clamp(450px, 50vw, 75%);
  }

 .third-container {
  padding-left: clamp(4rem, 50vw, 6.5rem);
  padding-right: clamp(4rem, 50vw, 6.5rem);
  }

  .fourth-container {
    margin-top: clamp(-6.25rem, 70vw, -9rem);
  
    }
 .third-container img {
  width: clamp(550px, 70vw, 80%);
  margin-left: clamp(-8rem, 50vw, -10rem);
  }


 .fifth-container img {
  width: clamp(370px, 80vw, 100%);
    
  }
  .sources {
    margin-top: clamp(-3.25rem, 30vw, -4rem);
  }

  .sources p{
    font-size: 1.15rem;
  }

  .footer p {
    font-size: 1.15rem;
  }
}



@media (min-width: 991px) {


  .first-container {
    position: relative;
  }

  .first-container h1 {
    position: absolute;
    z-index: 2;
  }

  .first-container img {
    position: relative;
    z-index: 0;
    margin-right: clamp(7rem, 10vw, 8rem) !important;
    margin-top: 4rem;
  }

  .first-container p{
    position: absolute;
    z-index: 1;
    margin-top: 20rem;
    width: clamp(35%, 40vw, 45%);
  }

  #img-caption {
    width: clamp(30%, 7vw, 100%) ;
  }
  
  
  .second-container {
    margin-top: clamp(-6.90rem, 50vw, -9rem);
    font-size: 1.15rem;
    line-height: 2.30rem;
  }
  
  .third-container {
    padding-left: clamp(5rem, 50vw, 15rem);
    padding-right: clamp(5rem, 50vw, 15rem);
    line-height: 2.5rem;
  }

  .third-container img {
    margin-left: clamp(-15rem, 50vw, -20rem);
    width: clamp(750px, 70vw, 70%);
  }
  
  .facts-content {
    font-size: clamp(1.25rem, 20vw, 1.30rem);
  }

  .third-container h2 {
    font-size: clamp(1.75rem, 80vw, 2rem);
  }
  .third-container h3 {
    font-size: clamp(1rem, 20vw, 1.25rem);
    
  }
 
  .fourth-container p {
    font-size: clamp(1rem, 20vw, 1.25rem);
    line-height: 1.75rem;
    
  }

  .fourth-container {
    margin-top: clamp(-8rem, 100vw, -9.5rem);
  }

  .fourth-container h4 {
    font-size: clamp(5rem, 80vw, 6rem);
    line-height: 3rem;
 
  }

  .fourth-container h2 {
    padding-left: 10rem;
    padding-right: 6rem;
    font-size: clamp(1.75rem, 80vw, 2rem);
   }
    
  .numbers {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: relative;
    padding-top: 2rem;
   }
 
  .fifth-container {
    display: flex !important;
    flex-direction: row;
    position: relative;
    font-size: 1.15rem;
  }
  
  .fifth-container img {
    width: clamp(440px, 100vw, 100%);
    justify-content: flex-end;
    margin-top: max(3rem, 1rem);
    
  }
  .sources {
    margin-top: clamp(-3.25rem, 30vw, -4rem);
    line-height: 1.5rem;

  }

  .sources p {
    font-size: 1.25rem;
    line-height: 1.30rem;
  }

  footer p {
    font-size: 1.15rem;
    line-height: 1.25rem;
  }
}
